body {
    display: flex;
    flex-direction: row;
}

.divParam {
    display: inline-flex;
    flex-direction: row;
}

.parametres {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-left: 10px;
    padding: 3px;
    flex: 5;
    justify-content: space-evenly;
}

#start {
    cursor: pointer;
    margin: 5px;
}

#test {
    cursor: pointer;
    margin: 5px;
}

.fenetre {
    display: flex;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    justify-content: left;
}

.graphique {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
}

.graph {
    display: flex;
    flex-direction: column;
    flex: 5;
    border: 1px solid black;
    text-align: center;
}

.graphInfo {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.deroulement {
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
}

.infoTest {
    display: flex;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
}

.Reglage_Info {
    display: flex;
    flex-direction: column;
}

.simulationEntier {
    display: flex;
    flex-direction: row;
}