body {
    display: flex;
    flex-direction: row;
}

.divParam {
    display: inline-flex;
    flex-direction: row;
}

.parametres {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-left: 10px;
    padding: 3px;
    justify-content: space-evenly;
}

#start {
    cursor: pointer;
    margin: 5px;
}

.deroulement {
    display: flex;
    width: 700px;
    height: 330px;
    background-color: gray;
    margin-left: 10px;
    margin-top: 10px;
}

.fenetre {
    display: flex;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    justify-content: left;
}